@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <img src="~/Content/imgs/logo.png" height="150" width="700">

    <p class="lead">
        The main goal of the Blood Bank Management System project is to monitor Blood Bank data,
        Blood cells, Blood stock, Donor and Patient List. This Blood Bank will manage all Donors ,Patients, Blood stock data.
        The project is entirely administrative and therefore access is guaranteed only to the administrator.
        The project's aim is to develop an application system to minimize the manual work for Blood Bank, Donor,
        Blood Group management.It monitors all of the Blood Group information, Blood cells, Blood supply , Donor and Patient list.
    </p>

</div>
<h2 style="color:red;">Here You Go Acording To Your Blood Group</h2>
<div class="row">

    <div class="col-md-4">

        <img src="~/Content/imgs/bg.png" height="800" width="300">
    </div>
    <div class="col-md-4">


        <img src="~/Content/imgs/a1.png" height="200" width="300">
        <img src="~/Content/imgs/b1.png" height="200" width="300">
        <img src="~/Content/imgs/o1.png" height="200" width="300">
        <img src="~/Content/imgs/ab1.png" height="200" width="300">
    </div>

    <div class="col-md-4">
        <img src="~/Content/imgs/a2.png" height="200" width="300">

        <img src="~/Content/imgs/b2.png" height="200" width="300">
        <img src="~/Content/imgs/o2.png" height="200" width="300">
        <img src="~/Content/imgs/ab2.png" height="200" width="300">
    </div>
</div>
<img src="~/Content/imgs/h.png" height="600" width="1100">